body{
margin: 0;
padding: 0;
overflow: scroll;
}
html{
background-color: black;
scroll-behavior: smooth;
}
#canvas{
width: 99vw;
top: 0;
left: 0;
right: 0;
position: absolute;
}
.FirstAbzas{
transition: 2s;
font-size: 65px;
position: relative;
display: flex;
justify-content: center;
text-align: center;
font-family: 'Oswald', sans-serif;
background: -webkit-linear-gradient(left, #33235B, #D62229, #E97639, #792042, #33235B);
background: linear-gradient(left, #33235B, #D62229, #E97639, #792042, #33235B);
background-size: 3200px 200px;
color: transparent;
-webkit-background-clip: text;
-webkit-animation: animate-logo;
-webkit-animation-delay: 0;
-webkit-animation-duration: 7s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
-webkit-animation-fill-mode: forwards;
transition: font-size 500ms ease-in-out;
}
.navbar-block{
transition: 1s;
position: absolute;
display: flex;
list-style: none;
font-size: 31px;
width: 97vw;
height: 54px;
background-color: #b3d2f5;
justify-content: center;
bottom: -104px;
border-bottom:solid 4px ;
}
.navbar{
    color: #5b97da;
text-decoration: none;
font-family: 'Oswald', sans-serif;
padding-right: 5%;
}
.navbar:hover{
    color: #023873;
    transition: 2s;
}
.About-text{
font-family: 'Oswald', sans-serif;
display: flex;
justify-content: center;
font-size: 66px;
margin-top: 157px;
color: #80acde;
top:65vh;
position: relative;
}
.About{
justify-content: center;
display: flex;
top: 71vh;
position: relative;
width: 97vw;
height: auto;
}
.AboutBlock-text{
font-family: 'Oswald', sans-serif;
display: flex;
justify-content: center;
color: #1c4471;
}
.AboutBlock-text2{
font-family: 'Oswald', sans-serif;
font-size: 17px;
position: relative;
left: 25%;
display: flex;
letter-spacing: 0px;
color: #0d4380;
width: 50%;
flex-wrap: wrap;
}
.fas{
color: #80acde;
justify-content: center;
display: flex;
font-size: 61px;
font-weight: 900;
}
.far{
color: #80acde;
justify-content: center;
display: flex;
font-size: 61px;
font-weight: 900;
}
.Projects{
position: relative;
top: 80vh;
}
.projects-text{
color: #2e2d84;
font-size: 66px;
font-family: 'Oswald', sans-serif;
display: flex;
justify-content: center;
text-align: center;
}
.projects-navbar{
height: 54px;
transition: 1s;
position: relative;
display: flex;
justify-content: center;
width: 97vw;
}
.projects-text2{
cursor: pointer;
font-size: 27px;
text-align: center;
margin-right: 5%;
width: 8%;
font-family: 'Oswald', sans-serif;
text-decoration: none;
list-style: none;
transition: 2s;
}
.projects-text3{
cursor: pointer;
font-size: 27px;
text-align: center;
margin-right: 5%;
width: 8%;
font-family: 'Oswald', sans-serif;
text-decoration: none;
list-style: none;
transition: 2s;
}
.projects-text4{
cursor: pointer;    
font-size: 27px;    
text-align: center;
margin-right: 5%;    
width: 8%;
font-family: 'Oswald', sans-serif;
text-decoration: none;
list-style: none;
transition: 2s;
}
.img{
width: 587px;
height: 344px;
}
.projects-text5{
cursor: pointer;
font-size: 27px;    
text-align: center;
margin-right: 5%;    
width: 8%;
font-family: 'Oswald', sans-serif;
text-decoration: none;
list-style: none;
transition: 2s;
}
.projects-text2:hover{
background-color: rgb(61, 59, 101);
}
.projects-text3:hover{
background-color: rgb(61, 59, 101);
}
.projects-text4:hover{
background-color: rgb(61, 59, 101);
}
.projects-text5:hover{
background-color: rgb(61, 59, 101);
}    
.Contacts{
position: relative;
top:85vh;
background-color: black;
}
.contacts-text{
color: #38189c;
font-size: 66px;
font-family: 'Oswald', sans-serif;
display: flex;
justify-content: center;
text-align: center;
}
.text-WhoAmI{
font-family: 'Oswald', sans-serif;
color: white;
}
.text-FrontEnd{
font-family: 'Oswald', sans-serif;
color: white;
}
.WhoAmI{
    justify-content: center;
    display: flex;
    top: 80vh;
    position: relative;
    width: 97vw;
    height: 547px;
    flex-wrap: wrap;
}
.WhoAmI-block{
    position: relative;
    width: 40vw;
    height: 400px;
}
.octagon{
width: 300px;
height: 300px;
border-radius: 100px 100px 100px 100px; 
}
.icons{
display: flex;
justify-content: center;
}
.foto-project{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.button-up{
display: flex;
justify-content: center;
cursor: pointer;
}
.link-up{
list-style: none;
text-decoration: none;
}
.skills{
position: relative;
}
.skills-block{
margin-block-start: 20px;
width: 400px;
background-color: #7776ca;
display: flex;
}
.skills-inside{
display: flex;
background-color:  rgb(0, 129, 134);
}
.skills-text{
font-family: 'Oswald', sans-serif;
}
.text-block{
font-size: 17px;
margin-inline-start: auto;
font-family: 'Oswald', sans-serif;
}
.foto-project_active{
opacity: 0;
}
@media only screen and (max-width:1200px){
.navbar-block{
bottom: 0;
top:20vh;
}
.About{
position: relative;
top:18vh;
}
.About-text{
position: relative;
top: 9vh;
}
#canvas{
height: 20%;
}
.Projects{
top: 20vh;
}
.Contacts{
top: 25vh;
}
.WhoAmI{
top:22vh;
}
.text-WhoAmI{
font-size: 15px;
}
.text-FrontEnd{
font-size: 9px;
}
.projects-text2 , .projects-text3,.projects-text4,.projects-text5{
font-size: 17px;
}
.skills{
right: 0;
}
@media only screen and (min-width: 40.063em) {
.FirstAbzas {
font-size: 40px;
}
}
@media only screen and (min-width: 64.063em) {
.FirstAbzas {
font-size: 80px;
}
}
@media only screen and (min-width: 90.063em) {
.FirstAbzas {
font-size: 80px;
}
}
@media only screen and (min-width: 120.063em) {
.FirstAbzas {
font-size: 80px;
}
}
@-webkit-keyframes animate-logo {
0% {
background-position: 0 3200px;
}
100% {
background-position: 3200px 0;
}
}
