body{
margin: 0;
padding: 0;
}
html{
scroll-behavior: smooth;
background-color: #131516;
}
#canvas{
height: 50vh;
}
.FirstAbzas{
font-size: 65px;
position: relative;
display: flex;
justify-content: center;
text-align: center;
font-family: 'Oswald', sans-serif;

}
.navbar-block{
display: flex;
list-style: none;
font-size: 31px;
width: 97vw;
height: 54px;
justify-content: center;
border-bottom:solid 4px ;
background-color: rgb(22, 29, 38);
}
.navbar{
text-decoration: none;
padding-right: 5%;
color: #5b97da;
font-family: 'Oswald', sans-serif;
}
.About-text{
display: flex;
justify-content: center;
font-size: 66px;
margin-top: 157px;
color: #80acde;
font-family: 'Oswald', sans-serif;
}
.About{
justify-content: center;
display: flex;
top: 71vh;
width: 97vw;
height: auto;
}
.AboutBlock-text{
display: flex;
justify-content: center;
color: #1c4471;
font-family: 'Oswald', sans-serif;
}
.AboutBlock-text2{
text-align: center;
font-size: 17px;
left: 25%;
display: flex;
letter-spacing: 0px;
flex-wrap: wrap;
color: #0d4380;
font-family: 'Oswald', sans-serif;
}
.fas{
justify-content: center;
display: flex;
font-size: 61px;
font-weight: 900;
color: #80acde;
}
.far{
justify-content: center;
display: flex;
font-size: 61px;
font-weight: 900;
color: #80acde;
}
.projects-text{
font-size: 66px;
display: flex;
justify-content: center;
text-align: center;
color: #2e2d84;
font-family: 'Oswald', sans-serif;
}
.projects-navbar{
height: 54px;
transition: 1s;
display: flex;
justify-content: center;
width: 97vw;
}
.projects-text2{
cursor: pointer;
font-size: 27px;
text-align: center;
margin-right: 5%;
width: 8%;
text-decoration: none;
list-style: none;
transition: 2s;
font-family: 'Oswald', sans-serif;
}
.projects-text3{
cursor: pointer;
font-size: 27px;
text-align: center;
margin-right: 5%;
width: 8%;
text-decoration: none;
list-style: none;
transition: 2s;
font-family: 'Oswald', sans-serif;
}
.projects-text4{
cursor: pointer;    
font-size: 27px;    
text-align: center;
margin-right: 5%;    
width: 8%;
text-decoration: none;
list-style: none;
transition: 2s;
font-family: 'Oswald', sans-serif;
}
.img{
width: 587px;
height: 344px;
}
.projects-text5{
cursor: pointer;
font-size: 27px;    
text-align: center;
margin-right: 5%;    
width: 8%;
text-decoration: none;
list-style: none;
transition: 2s;
font-family: 'Oswald', sans-serif;
}
.Contacts{
background-color: #131516;
}
.contacts-text{
font-size: 66px;
display: flex;
justify-content: center;
text-align: center;
color: #38189c;
font-family: 'Oswald', sans-serif;
}
.text-WhoAmI{
width: 300px;
justify-content: center;
display: flex;
font-family: 'Oswald', sans-serif;
color: white;
}
.text-FrontEnd{
width: 300px;
display: flex;
text-align: center;
justify-content: center;
font-family: 'Oswald', sans-serif;
color: white;
}
.WhoAmI{
justify-content: center;
display: flex;
padding-top: 15%;
width: 97vw;
height: 547px;
flex-wrap: wrap;
}
.WhoAmI-block{
width: 40vw;
height: 400px;
}
.octagon{
width: 300px;
height: 300px;
border-radius: 100px 100px 100px 100px; 
}
.icons{
display: flex;
justify-content: center;
}
.foto-project{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.button-up{
display: flex;
justify-content: center;
cursor: pointer;
}
.link-up{
list-style: none;
text-decoration: none;
}
.skills-block{
margin-block-start: 20px;
width: 400px;
display: flex;
background-color: #7776ca;
}
.skills-inside{
display: flex;
background-color:  #80acde;
}
.skills-text{
padding-left: 30px;
font-family: 'Oswald', sans-serif;
}
.text-block{
padding-right: 30px;
font-size: 17px;
margin-inline-start: auto;
font-family: 'Oswald', sans-serif;
}
.navbar_fixed{
position: fixed;
top: 0;
margin: 0;
}
@-webkit-keyframes animate-logo {
0% {
background-position: 0 3200px;
}
100% {
background-position: 3200px 0;
}
}
/* Hover */
.navbar:hover{
transition: 2s;
color: #023873;
}
.projects-text2:hover{
background-color: rgb(61, 59, 101);
}
.projects-text3:hover{
background-color: rgb(61, 59, 101);
}
.projects-text4:hover{
background-color: rgb(61, 59, 101);
}
.projects-text5:hover{
background-color: rgb(61, 59, 101);
}    
/* Media */
@media only screen and (max-width:1200px){
.navbar-block{
top: 20vh;
bottom: 0;
}
.navbar_fixed{
bottom: 0;
top:0vh;
}
#canvas{
height: 20%;
}
.text-WhoAmI{
font-size: 15px;
}
.text-FrontEnd{
font-size: 9px;
}
.projects-text2 , .projects-text3,.projects-text4,.projects-text5{
font-size: 17px;
}
@media only screen and (min-width: 40.063em) {
.FirstAbzas {
font-size: 40px;
}
}
@media only screen and (min-width: 64.063em) {
.FirstAbzas {
font-size: 80px;
}
}
@media only screen and (min-width: 90.063em) {
.FirstAbzas {
font-size: 80px;
}
}
@media only screen and (min-width: 120.063em) {
.FirstAbzas {
font-size: 80px;
}
}
}